<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chitter - Twitter Clone</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <img id="chitterLogo" src="https://64.media.tumblr.com/2aafe22f2767b7ba0ed7aac32a2fd886/7c9dc7c96d3d0169-57/s1280x1920/d569fb388e50c465dae75a306f7d15edb58afb09.png" alt="Chitter Logo">
    <h1 id="chitterTitle" >CHITTER</h1>
    <input id="searchBar" autofocus type="text" placeholder="Search...">
    <div class="RootButtons">
      <button id="loginButton" type="submit">Log In</button>
      <button id="signupButton" type="submit"> Sign Up</button>
    </div>

  </body>

  </html>